$max-width: 1020px;
$color-primary: #009bac;

body {
  font-family: 'Ubuntu';
}

article {
  min-height: calc(100vh - 180px);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.links a {
  margin: 0.5em 1em;
}

.layout-container {
  margin: 0 auto;
  max-width: 1020px;
}

.header {
  background-color: $color-primary;
  color: #fff;
}

.header {
  & > div {
    padding: 8px;
    margin: 0 auto;
    max-width: $max-width;
  }

  .header-title {
    font-size: 2.5em;
  }

  .header-subtitle {
    font-size: 1em;
    font-weight: 100;
  }
}
